<!DOCTYPE html>

<html>
    <head>
        <title>Photo Gallery</title>
        <link href="css\style1.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <a href="images/1"><img src="images\1.png" alt="MonkaS" height="200px" /></a>
                </td>
                <td>
                    <a href="images/2"><img src="images\2.png" alt="KEKW" height="200px" /></a>
                </td>
                <td>
                    <a href="images/3"><img src="images\3.png" alt="EZ" height="200px" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="images/4"><img src="images\4.png" alt="weSmart" height="200px" /></a>
                </td>
                <td>
                    <a href="images/5"><img src="images\5.png" alt="pikaO" height="200px" /></a>
                </td>
                <td>
                    <a href="images/6"><img src="images\6.png" alt="poggies" height="200px" /></a>
                </td>
            </tr>
        </table>
    </body>
</html>