<!DOCTYPE html>

<html>
    <head>
        <title>Photo Gallery</title>
        <link href="..\css\style1.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div><a href="../home">Back to Home</a></div>
        <div margin="100px"><img src="<%= image %>.png" alt="image <%= image %>" height="200px" /></div>
    </body>
</html>