<div class="footer">
    <table class="footer">
        <tr>
            <td>
                <a href=../home>List of Books</a>
            </td>
            <td>
                <a href=../addNewBook>Add Book</a>
            </td>
            <td>
                <a href=../deleteABook>Delete a Book</a>
            </td>
        </tr>
    </table>
</div>