<html>
    <head>
        <title>Mobasery Library</title>
        <link rel="icon" type="image/png" href="images\book.png">
    </head>
    <body>
        <div>
            <a href="home.html"><img src="images\LibraryBanner.png" height="400px" alt="Mobasery Library" /></a>
        </div>
        <table cellpadding="10" cellspacing="5">
            <tr>
                <td></td>
                <td>
                    <h1>Book Details</h1>
                <td>
            </tr>
            <tr>
                <td>
                    <h3>Navigation</h3><br/>
                    <a href="home.html">Home</a><br/>
                    <a href="books.html">List of Books</a><br/>
                </td>
                <td>
                    <a href="books.html">Back to Catalogue</a><br/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <table cellpadding="10" cellspacing="5">
                        <tr>
                            <td>
                               <img src="images\book1.png" alt="Guide to Journaling - Keeping your life organized" height="600px"/></a>
                            </td>
                            <td>
                                <h2>Guide  to Journaling - Keeping your life organized</h2>
                                <p>
                                    A guide by Laura Goodmill on how to use journaling to keep your life organised.
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>