<html>
    <head>
        <title>Mobasery Library</title>
        <link rel="icon" type="image/png" href="images\book.png">Lab8\serve_html\public\images\book.png
    </head>
    <body>
        <div>
            <a href="home.html"><img src="images\LibraryBanner.png" height="400px" alt="Mobasery Library" /></a>
        </div>
        <table cellpadding="10" cellspacing="5">
            <tr>
                <td></td>
                <td>
                    <h1>Book Details</h1>
                <td>
            </tr>
            <tr>
                <td>
                    <h3>Navigation</h3><br/>
                    <a href="home.html">Home</a><br/>
                    <a href="books.html">List of Books</a><br/>
                </td>
                <td>
                    <a href="books.html">Back to Catalogue</a><br/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <table cellpadding="10" cellspacing="5">
                        <tr>
                            <td>
                                <img src="images\book3" alt="Living with 50 Things" height="600px"/></a>
                            </td>
                            <td>
                                <h2>Living with 50 Things</h2>
                                <p>
                                    A book by Miyaki Eze explaining their experience after one year of living an extreme minimalist life style.
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>